################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/AutoGene/Business/Contracts/obj
/Source/AutoGene/.vs
/Source/AutoGene/Business/Services/bin
/Source/AutoGene/Business/Services/obj
/Source/AutoGene/Data/Contracts/bin
/Source/AutoGene/Data/Contracts/obj
/Source/AutoGene/Data/Services/bin
/Source/AutoGene/Data/Services/obj
/Source/AutoGene/Infrastructure Services/Contracts/bin
/Source/AutoGene/Infrastructure Services/Contracts/obj
/Source/AutoGene/Infrastructure Services/Identity/bin
/Source/AutoGene/Infrastructure Services/Identity/obj
/Source/AutoGene/Infrastructure Services/Synthesizer/bin
/Source/AutoGene/Infrastructure Services/Synthesizer/obj
/Source/AutoGene/Infrastructure Services/WebJobs/bin
/Source/AutoGene/Infrastructure Services/WebJobs/obj
/Source/AutoGene/packages
/Source/AutoGene/Presentation/Common/bin
/Source/AutoGene/Presentation/Common/obj
/Source/AutoGene/Presentation/Host/bin
/Source/AutoGene/Presentation/Host/obj/Release
/Source/AutoGene/Presentation/Mobile/Backend/bin
/Source/AutoGene/Presentation/Mobile/Backend/obj
/Source/AutoGene/Presentation/Mobile/Mobile/bin
/Source/AutoGene/Presentation/Mobile/Mobile/obj
/Source/AutoGene/Presentation/Mobile/Mobile.iOS/obj/iPhone
/Source/AutoGene/Shared/DTO/bin
/Source/AutoGene/Shared/DTO/obj
/Source/AutoGene/Shared/Enum/bin
/Source/AutoGene/Shared/Enum/obj
/Source/AutoGene/Shared/Framework/bin
/Source/AutoGene/Shared/Framework/obj
/Source/AutoGene/Shared/Resources/bin
/Source/AutoGene/Shared/Resources/obj
/Source/AutoGene/Tests/Data.Services.Tests/bin
/Source/AutoGene/Tests/Data.Services.Tests/obj
/.vs
/Source/AutoGene/Business/Contracts/bin/Debug
/Source/AutoGene/Presentation/Host/obj/Debug
/Source/AutoGene/UpgradeLog2.htm
/Source/AutoGene/UpgradeLog3.htm
