@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}

<div class="col-sm-8 blog-main">
    
    @*<div class="blog-post">
        <h2 class="blog-post-title">Sample blog post</h2>
        <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>

        <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
        <hr>
        <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
        <blockquote>
            <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </blockquote>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        <h2>Heading</h2>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <h3>Sub-heading</h3>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <pre><code>Example code block</code></pre>
        <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
        <h3>Sub-heading</h3>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <ul>
            <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
            <li>Donec id elit non mi porta gravida at eget metus.</li>
            <li>Nulla vitae elit libero, a pharetra augue.</li>
        </ul>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
        <ol>
            <li>Vestibulum id ligula porta felis euismod semper.</li>
            <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
            <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
        </ol>
        <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
    </div>*@

    <div class="blog-post">
        <h2 class="blog-post-title">The problem that we are tackling</h2>
        <p class="blog-post-meta">Why is this an important problem to solve? Why is this a tough problem? Why hasn't it been solved before?</p>
        <hr>
        <p>Artificial gene (AG) is a DNA molecule, synthesized <i>de novo</i> by a complex of chemical, physical and enzymatic methods. Nowadays AGs have found application in gene therapy of hereditary disorders, protein engineering, biopharmaceutics, metabolic engineering, diagnostics, information storage (NAM –Nucleic Acid Memory), artificial life etc. Artificial gene synthesis is a key step in biotechnology R&D. The price for gene synthesis remains high enough (0.2 $ per base pair), because of complexity of the process. The problem of high cost for gene synthesis hasn’t been solved yet for two main reasons: the requirements for AG were low 5 more years ago, so manual gene synthesis was enough, but market is growing very fast now; main DNA-related-equipment-producing companies last years were focused on new generation sequencing methods and did not invest in gene synthesis equipment and methods.</p>
    </div><!-- /.blog-post -->

    <div class="blog-post">
        <h2 class="blog-post-title">Our solution</h2>
        <p class="blog-post-meta">Why is this a unique or different approach? What positive impact will this project have at scale?</p>

        <p>Our solution is a cheap “black-box”-type equipment (&lt25 000 $) that is able to synthesize gene from idea to test-tube for extremely low price (&lt0.05 $ per base pair). All current solutions for automated gene synthesis are robotic-based extensive and very expensive equipment that aimed at replacing human labor with machine. Our solution is based on combination of oligonucleotide synthesizer and high-throughput gene assembly module.  System is controlled by cloud-based software platform (Web of Scientific Equipment) that is able to make intellectual decisions even in case of “difficult” genes. In the future we planning to develop system in direction of microfluidic devices in order to make gene synthesis cheaper. Realization of this project can lower price for gene synthesis, that makes AGs to be much cheaper than gene cloning so this will promote development of gene therapy and biotechnology.</p>

    </div><!-- /.blog-post -->

    <div class="blog-post">
        <h2 class="blog-post-title">The technical insight</h2>
        <p class="blog-post-meta">What is the breakthrough science or tech that makes our project possible? Why is our team excited to work on this?</p>

        <p>We have already started working on gene synthesizer based on the flow-through PCR thermocycler. Our “know-how” is the high-throughput polymerase chain reaction-gene assembly module and high-performance cloud computing optimization strategies. Control system includes web application(ASP.NET MVC) and cross-platform mobile application(Xamarin.Forms) with offline synchronization to prevent any connection issues. The best part of our system is how to easy it is to use. Customer simply specify the original sequence and kick off optimization and synthesizing processes in the cloud. Our team has 10-years of experience in the protein engineering and software development areas. We are having a passion to change the world by reducing price of AG synthesizing which is revolutionizing biotechnology research and we are planning to build own gene synthesis facility. So that’s why our team so excited to work on this project.</p>

    </div><!-- /.blog-post -->

    <div class="blog-post">
        <h2 class="blog-post-title">Our project's TRL</h2>

        <ol>
            <li>Idea. Unproven concept, no testing has been performed.</li>
            <li>Basic research. Principles postulated and observed but no experimental proof available.</li>
            <li>Technology formulation. Concept and application have been formulated.</li>
            <li><b>Applied research. First laboratory tests completed; proof of concept.</b></li>
            <li>Small scale prototype built in a laboratory environment.</li>
            <li>Large scale prototype tested in intended environment.</li>
            <li>Prototype system tested in intended environment close to expected performance.</li>
            <li>Demonstration system operating in operational environment at pre-commercial scale.</li>
            <li>First of a kind commercial system. Manufacturing issues solved.</li>
            <li>Full commercial application, technology available for consumers.</li>
        </ol>

    </div><!-- /.blog-post -->

    <div class="blog-post">
        <h2 class="blog-post-title">How is our approach different from others?</h2>
        <p>Other approaches (for example Hudson Robotics approach for gene assembly) focus on robotic automation solution for gene synthesis. Our solution focuses on ability to scale to microfluidic device in future that will allow to minimize consumption of reagents and prices for artificial genes.Other equipment is oriented on low price of artificial genes, we are oriented on low price of equipment + low price of artificial genes. Order from the third party company does not guarantee confidentiality when realizing important biotechnology projects. Only own equipment and own gene synthesis facility may guarantee confidentiality during R&D process and it will be possible with cheap gene synthesis equipment.</p>

    </div><!-- /.blog-post -->

    <div class="blog-post">
        <h2 class="blog-post-title">Our team</h2>
        <p>Aleksei Yantsevich<br/>Senior Researcher in Bioorganic Chemistry, PhD</p>
        <p>Yaroslav Dichenko<br/>Senior Researcher in Bioorganic Chemistry, PhD</p>
        <p>Vladislav Omelyanchuk<br/>Senior Software Engineer</p>

    </div><!-- /.blog-post -->

    @*<div class="blog-post">
        <h2 class="blog-post-title">Artifacts, specimens and non-confidential technical information</h2>
        <p>Video presentation (RUS):<br/><a href="http://sciencehit.by/hackathon/article/artificial_gene_synthesis">http://sciencehit.by/hackathon/article/artificial_gene_synthesis</a></p>
        <p>Slides (EN):<br/><a href="https://www.slideshare.net/Sciencehit/artificial-gene-synthesis-74419571">https://www.slideshare.net/Sciencehit/artificial-gene-synthesis-74419571</a></p>

    </div>*@<!-- /.blog-post -->

</div><!-- /.blog-main -->