@{
    ViewBag.Title = "System Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">System Configuration</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div id="channel-configurations-grid"></div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            var systemConfigurationViewModel = new SystemConfigurationViewModel('#page-wrapper', {}, '#channel-configurations-grid');

            systemConfigurationViewModel.bindModel();

            systemConfigurationViewModel.createChannelConfigurationsGrid();

            window.systemConfigurationViewModel = systemConfigurationViewModel;
        });
    </script>
}
